server {
    listen       80 default_server;
    listen       [::]:80 default_server;
    server_name  {{ PRJ_NAME }};
    server_name  _;
    
    root   /home/{{ PRJ_NAME }}/www/;
    index index.php index.html index.htm;
    error_log  /home/{{ PRJ_NAME }}/logs/error.log warn;
    access_log  /home/{{ PRJ_NAME }}/logs/access.log  main;
    location / {
         try_files $uri $uri/ /index.php;
#        try_files $uri $uri/ =404;
    }
    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
    root /home/{{ PRJ_NAME }}/www/;
#    set_real_ip_from 10.0.0.0/8;
#    real_ip_header X-Real-IP;
#    real_ip_recursive on;
    }



    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_param REMOTE_ADDR $http_x_real_ip;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}